*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Raleway,sans-serif;
}
nav{
    
    display: flex;
    flex-direction: column;
    padding: 40px 17px;
    gap: 14px;
}
nav img{
    width: 100%;
}
.desktop{
    display: none;
}
.navBar{
    min-width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    border: 2px solid #262626;
    border-radius: 8px;
    justify-content: space-between;
    align-items: center;
}
.hamburger{
    background-color: transparent;
    border: none;
    cursor: pointer;
    border-left: 2px solid #262626;
}
.logoContainer{
    margin: 0 0;
    background-color: #FF8D4D;
    border-radius: 6px 0  0 6px;
    border-right: 2px solid #262626;
}
.logo{
    width: 100px;
    padding:  24px 10px;
}
.hamburgerContainer{
    background-color: #FFEFE5;
    border-radius: 0 6px  6px 0;
}

.hamburger{
    padding:  19px 20px;
}
.navList{
    display: flex;
    text-align: center;
    background-color: #FFEFE5;
    list-style: none;
    padding: 20px;
    border: 2px solid #262626;
    border-radius: 8px;
    transition: ease-in-out;
    transition-duration: 0.3s;
}
.navList li{
    padding: 5px;
    text-decoration: none;
}
.navList li a{
    text-decoration: none;
    color: black;
    cursor: pointer;
}
@media screen and (min-width:755px){
    .logo{
    width: 140px;
    padding: 25px 15px;
}
    .mobile {
        display: none;
    }
    .desktop {
        display: block;
    }
    .navBar{
        gap: 10px;
    }
    .hamburgerContainer li:hover{
        background-color: #FF8D4D;
    }
    .hamburgerContainer  ul {
        display: flex;
        flex-direction: row;
        gap: clamp(0.9rem, 2vw, 3rem);
        list-style: none;
        gap:0;
    }
    .hamburgerContainer li{
        display: flex;
        align-items: center;
        padding: 0 30px;
        border-left: 2px solid #333; 
    }
    .hamburgerContainer li a{
        text-decoration: none;
        color: black;
        padding: 30px 0px;
        white-space: nowrap;
        font-size: clamp(0.9rem, 1.2vw, 1.2rem);
        font-family: sans-serif;
        
    } 
}